<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>In the Name of Allah (SWT) the Merciful, the Compassionate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <img src="/static/images/image.png" alt="NP logo" class="center">
        <header>
        <div class="container">
            <h1 class="logo">In the Name of Allah (SWT) the Merciful, the Compassionate</h1>
        </div>
        </header>
    <div class="container">
        <h2>alhamdulillah</h2>
        <h3>You've refreshed <b>{{ count }}</b> times</h3>
    </div>
  </body>
</html>
